

<div class="row well">
    <div class="col-xs-10">
        <h1 class="text-left margin-left-20">Add person</h1>
    </div>
    <div class="col-xs-2">
        <a  href="#/events" class="btn btn-info margin-top-20 margin-right-10 pull-right">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </div>
</div>

<div class=".col-md-6 .col-md-offset-3 container center">
    <form class="form-horizontal">


        <!-- Form Name -->
        <legend>Form </legend>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="guestName">Guest name</label>
                <div class="col-md-4">
                    <input id="guestName" name="guestName" ng-model="guest.name" placeholder="Guest name" class="form-control input-md" type="text">
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="comment">Comment</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="comment" ng-model="guest.comment"  name="comment">default text</textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="contribution">Contribution</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="contribution" ng-model="guest.contribution"  name="contribution">default text</textarea>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <button class="btn btn-info btn-lg pull-right" ng-click="saveNewGuest ( guest )"> Save </button>
            </div>

        </fieldset>
    </form>
    <!-- add negative case -->
</div>