

<div class="row well">
    <div class="col-xs-10">
        <h1 class="text-left margin-left-20">Events</h1>
    </div>
    <div class="col-xs-2">
        <a href="#/addEvents" class="btn btn-info margin-top-20 margin-right-10 pull-right">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>
</div>

<div class=".col-md-6 .col-md-offset-3 container center">
    <div>
        <div class="lead text-center">
             <div class="nav-tabs" data-ng-repeat="event in events">
                 <strong>{{event.name}}</strong>
                 <div>{{event.description}}</div>
                 <div><strong>Where?:</strong></div>
                 <div>{{event.location.name}}, {{event.location.street}},
                     {{event.location.plz}}, {{event.location.city}}
                 </div>
                 <div><strong>Guests:</strong></div>
                 <div data-ng-repeat="guest in event.guests">{{guest.id}}, {{guest.name}}, {{guest.contribution}}, {{guest.comment}}, {{guest.canceled}}</div>
             </div>
         </div>
    </div>
</div>