<div class="text-center">
    <div class="btn-group lead">
        <label class="media-middle">Events</label>
        <button class="media-middle">+</button>
    </div>
</div>

<div class="col-sm-12">
    <div>
        <div class="lead text-center">
             <div class="nav-tabs" data-ng-repeat="event in events">
                 <strong>{{event.name}}</strong>
                 <div>{{event.description}}</div>
                 <div><strong>Where?:</strong></div>
                 <div>{{event.location.name}}, {{event.location.street}},
                     {{event.location.plz}}, {{event.location.city}}
                 </div>
                 <div><strong>Guests:</strong></div>
                 <div data-ng-repeat="guest in event.guests">{{guest.id}}, {{guest.name}}, {{guest.contribution}}, {{guest.comment}}, {{guest.canceled}}</div>
             </div>
         </div>
    </div>
</div>